.main{
    background-image: conic-gradient( skyblue, gray,skyblue, gray, skyblue);
    width: 100vw;
    height: 100vh;
}
.form-container {  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;

    font-family: 'Architects Daughter';  
    background-color:rgb(55, 59, 59);
    height: 80%;
    width: 600px;
    padding: 2%;
    border-radius: 15px;    
    border-color: rgb(255, 255, 255);
    text-align: center;

    
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.form-input {
    padding: 4px;
    width: 100%;
    font-size: large;
    border-radius: 10px;
    border: 2px solid rgb(35, 101, 243);
}

.form-input:focus {
    outline: none !important;
    border:1px solid black;
    box-shadow:  0 0 7px white;
}

.form-label {
    color: white;
}

.form-container h2 {
    font-size: 50px;
    color: white
}

.form-container p {
    color: rgb(133, 129, 129)
}
.form-container p > a {
    color: rgb(133, 129, 129)
}
.form-button {
    margin-top: 50px;
    padding: 6px 10px;
    font-size: large;
    background-color:rgb(55, 59, 59);
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    width: 150px;
    height: 50px;
    transition: 0.2s;
}

.form-button:hover {
    background-color: dodgerblue;
}

@media only screen and (max-width: 700px) {
    .form-container{        
        width: 400px;
    }
}